#hed1 {
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy;
    background-color: darkgoldenrod;
    padding: 10px 100px;
}
.center-container {
    text-align: center;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkgoldenrod ;
    color: black ;
    font-size: 80px;
    border-radius: 12px;

}
body {
    background-color: brown;
    align-self: auto;

}



